# bundler configuration
/.bundle/
# Rubymine project configuration
/.idea
# Don't check in new rvm version and gemset files
/.ruby-gemset
/.ruby-version
# Don't check in rvmrc since this is a gem
/.rvmrc
# YARD database
/.yardoc
# Installed gem versions.  Not stored for the same reasons as .rvmrc
/Gemfile.lock
# coverage report directory for simplecov/Rubymine
/coverage/
# generated yardocs
/doc/
# gnerated images for yardocs
/docs/images
# Packaging directory for builds
/pkg/
# Database configuration (with passwords) for specs
/spec/dummy/config/database.yml
/spec/reports/
# Files and directories created by Metasploit::Model::Spec.temporary_pathname
/spec/tmp
/tmp/
# Mac OS X folder attributes
.DS_Store
*.bundle
# Entity-Relationship diagrams created by rake erd*
*.erd.pdf
# built gems
*.gem
# logs
*.log
*.so
*.o
*.a
mkmf.log

#RVM
.rvmrc
.ruby-version
.ruby-gemset
.versions.conf

# Sqlite3
/spec/dummy/db/*.sqlite3
